In [115]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import col, lit,round
ss = SparkSession.builder.appName("Spark Data Frame Example").getOrCreate()

In [116]:
df = ss.read.options(inferSchema='True', header='True').csv('StudentData.csv')
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [117]:

schema = StructType([
                StructField("age",IntegerType(),True),
                StructField("gender",StringType(),True),
                StructField("name",StringType(),True),
                StructField("course",StringType(),True),
                StructField("roll",StringType(),True),
                StructField("marks",IntegerType(),True),
                StructField("email",StringType(),True)    
]
)

In [118]:
df = ss.read.options(header='True').schema(schema).csv('StudentData.csv')
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [143]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().setAppName("Read File")

sc = SparkContext.getOrCreate(conf=conf)

rdd = sc.textFile('StudentData.csv')
header = rdd.first()
rdd = rdd.filter(lambda x: x!=header).map(lambda x:x.split(','))
rdd = rdd.map(lambda x:[int(x[0]),x[1],x[2],x[3],x[4],int(x[5]),x[6] ])
columns = header.split(',')
df2 = rdd.toDF(columns)
df2.printSchema()
df2.show()

root
 |-- age: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: long (nullable = true)
 |-- email: string (nullable = true)

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [144]:
df3 = spark.createDataFrame(rdd,schema = schema)
df3.printSchema()
df3.show()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [145]:
df3.select("gender","marks").show()

+------+-----+
|gender|marks|
+------+-----+
|Female|   59|
|Female|   62|
|  Male|   45|
|Female|   29|
|  Male|   41|
|  Male|   32|
|  Male|   69|
|Female|   85|
|  Male|   64|
|  Male|   51|
|Female|   35|
|  Male|   53|
|Female|   27|
|Female|   55|
|  Male|   42|
|Female|   27|
|  Male|   36|
|  Male|   22|
|  Male|   56|
|Female|   62|
+------+-----+
only showing top 20 rows

In [123]:
df.select(df.name,df.email).show()

+----------------+--------------------+
|            name|               email|
+----------------+--------------------+
| Hubert Oliveras|Annika Hoffman_Na...|
|Toshiko Hillyard|Margene Moores_Ma...|
|  Celeste Lollis|Jeannetta Golden_...|
|    Elenore Choy|Billi Clore_Mitzi...|
|  Sheryll Towler|Claude Panos_Judi...|
|  Margene Moores|Toshiko Hillyard_...|
|     Neda Briski|Alberta Freund_El...|
|    Claude Panos|Sheryll Towler_Al...|
|  Celeste Lollis|Nicole Harwood_Cl...|
|  Cordie Harnois|Judie Chipps_Clem...|
|       Kena Wild|Dustin Feagins_Ma...|
| Ernest Rossbach|Maybell Duguay_Ab...|
|  Latia Vanhoose|Latia Vanhoose_Mi...|
|  Latia Vanhoose|Eda Neathery_Nico...|
|     Neda Briski|Margene Moores_Mi...|
|  Latia Vanhoose|Claude Panos_Sant...|
|  Loris Crossett|Mitzi Seldon_Jenn...|
|  Annika Hoffman|Taryn Brownlee_Mi...|
|   Santa Kerfien|Judie Chipps_Tary...|
|Mickey Cortright|Ernest Rossbach_M...|
+----------------+--------------------+
only showing top 20 rows

In [124]:
df.select(col("roll"),col("name")).show()

+------+----------------+
|  roll|            name|
+------+----------------+
|  2984| Hubert Oliveras|
| 12899|Toshiko Hillyard|
| 21267|  Celeste Lollis|
| 32877|    Elenore Choy|
| 41487|  Sheryll Towler|
| 52771|  Margene Moores|
| 61973|     Neda Briski|
| 72409|    Claude Panos|
| 81492|  Celeste Lollis|
| 92882|  Cordie Harnois|
|102285|       Kena Wild|
|111449| Ernest Rossbach|
|122502|  Latia Vanhoose|
|132110|  Latia Vanhoose|
|141770|     Neda Briski|
|152159|  Latia Vanhoose|
|161771|  Loris Crossett|
|171660|  Annika Hoffman|
|182129|   Santa Kerfien|
|192537|Mickey Cortright|
+------+----------------+
only showing top 20 rows

In [125]:
df.select(df.columns[:4]).show()

+---+------+----------------+------+
|age|gender|            name|course|
+---+------+----------------+------+
| 28|Female| Hubert Oliveras|    DB|
| 29|Female|Toshiko Hillyard| Cloud|
| 28|  Male|  Celeste Lollis|    PF|
| 29|Female|    Elenore Choy|    DB|
| 28|  Male|  Sheryll Towler|   DSA|
| 28|  Male|  Margene Moores|   MVC|
| 28|  Male|     Neda Briski|   OOP|
| 28|Female|    Claude Panos| Cloud|
| 28|  Male|  Celeste Lollis|   MVC|
| 29|  Male|  Cordie Harnois|   OOP|
| 29|Female|       Kena Wild|   DSA|
| 29|  Male| Ernest Rossbach|    DB|
| 28|Female|  Latia Vanhoose|    DB|
| 29|Female|  Latia Vanhoose|   MVC|
| 29|  Male|     Neda Briski|    PF|
| 29|Female|  Latia Vanhoose|    DB|
| 29|  Male|  Loris Crossett|   MVC|
| 29|  Male|  Annika Hoffman|   OOP|
| 29|  Male|   Santa Kerfien|    PF|
| 28|Female|Mickey Cortright|    DB|
+---+------+----------------+------+
only showing top 20 rows

In [126]:
df.select(df.columns[3:]).show()

+------+------+-----+--------------------+
|course|  roll|marks|               email|
+------+------+-----+--------------------+
|    DB|  2984|   59|Annika Hoffman_Na...|
| Cloud| 12899|   62|Margene Moores_Ma...|
|    PF| 21267|   45|Jeannetta Golden_...|
|    DB| 32877|   29|Billi Clore_Mitzi...|
|   DSA| 41487|   41|Claude Panos_Judi...|
|   MVC| 52771|   32|Toshiko Hillyard_...|
|   OOP| 61973|   69|Alberta Freund_El...|
| Cloud| 72409|   85|Sheryll Towler_Al...|
|   MVC| 81492|   64|Nicole Harwood_Cl...|
|   OOP| 92882|   51|Judie Chipps_Clem...|
|   DSA|102285|   35|Dustin Feagins_Ma...|
|    DB|111449|   53|Maybell Duguay_Ab...|
|    DB|122502|   27|Latia Vanhoose_Mi...|
|   MVC|132110|   55|Eda Neathery_Nico...|
|    PF|141770|   42|Margene Moores_Mi...|
|    DB|152159|   27|Claude Panos_Sant...|
|   MVC|161771|   36|Mitzi Seldon_Jenn...|
|   OOP|171660|   22|Taryn Brownlee_Mi...|
|    PF|182129|   56|Judie Chipps_Tary...|
|    DB|192537|   62|Ernest Rossbach_M...|
+------+------+-----+--------------------+
only showing top 20 rows

In [127]:
df.select(df.columns[3],df.columns[5]).show()

+------+-----+
|course|marks|
+------+-----+
|    DB|   59|
| Cloud|   62|
|    PF|   45|
|    DB|   29|
|   DSA|   41|
|   MVC|   32|
|   OOP|   69|
| Cloud|   85|
|   MVC|   64|
|   OOP|   51|
|   DSA|   35|
|    DB|   53|
|    DB|   27|
|   MVC|   55|
|    PF|   42|
|    DB|   27|
|   MVC|   36|
|   OOP|   22|
|    PF|   56|
|    DB|   62|
+------+-----+
only showing top 20 rows

In [128]:
df.select(df.roll,"course",df.columns[5],'age').show()

+------+------+-----+---+
|  roll|course|marks|age|
+------+------+-----+---+
|  2984|    DB|   59| 28|
| 12899| Cloud|   62| 29|
| 21267|    PF|   45| 28|
| 32877|    DB|   29| 29|
| 41487|   DSA|   41| 28|
| 52771|   MVC|   32| 28|
| 61973|   OOP|   69| 28|
| 72409| Cloud|   85| 28|
| 81492|   MVC|   64| 28|
| 92882|   OOP|   51| 29|
|102285|   DSA|   35| 29|
|111449|    DB|   53| 29|
|122502|    DB|   27| 28|
|132110|   MVC|   55| 29|
|141770|    PF|   42| 29|
|152159|    DB|   27| 29|
|161771|   MVC|   36| 29|
|171660|   OOP|   22| 29|
|182129|    PF|   56| 29|
|192537|    DB|   62| 28|
+------+------+-----+---+
only showing top 20 rows

In [129]:
dfNewCol = df.withColumn("Country",lit("USA"))
dfNewCol.show()

+---+------+----------------+------+------+-----+--------------------+-------+
|age|gender|            name|course|  roll|marks|               email|Country|
+---+------+----------------+------+------+-----+--------------------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|    USA|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|    USA|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|    USA|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|    USA|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|    USA|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|    USA|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|    USA|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|    USA|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|    USA|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|    USA|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|    USA|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|    USA|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|    USA|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|    USA|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|    USA|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|    USA|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|    USA|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|    USA|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|    USA|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|    USA|
+---+------+----------------+------+------+-----+--------------------+-------+
only showing top 20 rows

In [130]:
dfR = df.withColumnRenamed("roll","rollnumber").withColumnRenamed("email","emailid")
dfR.show()

+---+------+----------------+------+----------+-----+--------------------+
|age|gender|            name|course|rollnumber|marks|             emailid|
+---+------+----------------+------+----------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|      2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|     12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|     21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|     32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|     41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|     52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|     61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|     72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|     81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|     92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|    102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|    111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|    122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|    132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|    141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|    152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|    161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|    171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|    182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|    192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+----------+-----+--------------------+
only showing top 20 rows

In [131]:
df.filter( (df.course =='DB') & (df.marks>50)).show()

+---+------+------------------+------+-------+-----+--------------------+
|age|gender|              name|course|   roll|marks|               email|
+---+------+------------------+------+-------+-----+--------------------+
| 28|Female|   Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 29|  Male|   Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|       Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 29|  Male|      Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female|   Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|      Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male|  Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|   Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|      Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 29|Female|      Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
| 29|Female| Leontine Phillips|    DB|1432252|   67|Billi Clore_Shery...|
| 28|Female|   Gonzalo Ferebee|    DB|1451513|   69|Claude Panos_Tame...|
| 28|  Male|   Marylee Capasso|    DB|1611411|   96|Annika Hoffman_Lo...|
| 29|  Male|    Alberta Freund|    DB|1671638|   98|Clementina Menke_...|
| 28|Female|Priscila Tavernier|    DB|1722388|   86|Lawanda Wohlwend_...|
| 29|  Male|    Dustin Feagins|    DB|1782045|   81|Cordie Harnois_To...|
| 29|  Male|     Tijuana Kropf|    DB|1882795|   92|Hubert Oliveras_E...|
| 28|  Male|   Ernest Rossbach|    DB|1901492|   54|Latia Vanhoose_Jc...|
| 29|Female| Leontine Phillips|    DB|1972893|   64|Marylee Capasso_E...|
+---+------+------------------+------+-------+-----+--------------------+
only showing top 20 rows

In [132]:
courses =["OOP","DB","DSA"]
df.filter(df.course.isin(courses)).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|
| 29|Female|    Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 28|Female|  Dustin Feagins|   DSA|291984|   82|Abram Nagao_Kena ...|
| 28|Female|     Anna Santos|    DB|311589|   79|Celeste Lollis_Mi...|
| 28|Female|Mickey Cortright|   DSA|342003|   44|Mitzi Seldon_Jean...|
| 28|  Male| Hubert Oliveras|   OOP|351719|   63|Lawanda Wohlwend_...|
| 28|  Male|   Kizzy Brenner|    DB|381712|   36|Paris Hutton_Kena...|
| 28|  Male|Toshiko Hillyard|    DB|392218|   47|Leontine Phillips...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [133]:
courses =["OOP","DB","DSA"]
df.filter(df.course.isin(courses) & df.name.startswith('A')).show()

+---+------+--------------+------+-------+-----+--------------------+
|age|gender|          name|course|   roll|marks|               email|
+---+------+--------------+------+-------+-----+--------------------+
| 29|  Male|Annika Hoffman|   OOP| 171660|   22|Taryn Brownlee_Mi...|
| 28|Female|Alberta Freund|   OOP| 251805|   83|Annika Hoffman_Sh...|
| 28|Female|   Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 29|Female|   Anna Santos|   DSA| 411479|   42|Kena Wild_Mitzi S...|
| 29|  Male|Annika Hoffman|   OOP| 472550|   35|Mitzi Seldon_Abra...|
| 28|  Male|   Anna Santos|   OOP| 822396|   47|Leontine Phillips...|
| 28|  Male|Annika Hoffman|    DB|1031544|   44|Dustin Feagins_So...|
| 29|Female|   Abram Nagao|   DSA|1181007|   57|Anna Santos_Anna ...|
| 28|  Male|   Abram Nagao|   DSA|1382959|   66|Michelle Ruggiero...|
| 29|Female|Annika Hoffman|   OOP|1551846|   50|Paris Hutton_Mela...|
| 28|  Male|   Anna Santos|   OOP|1621905|   24|Elenore Choy_Sant...|
| 29|  Male|Alberta Freund|    DB|1671638|   98|Clementina Menke_...|
| 29|Female|   Anna Santos|   DSA|1702439|   64|Naoma Fritts_Tosh...|
| 28|Female|   Anna Santos|   DSA|1741879|   89|Nicole Harwood_La...|
| 29|  Male|Alberta Freund|   OOP|1841931|   37|Jenna Montague_Ta...|
| 29|Female|   Abram Nagao|   DSA|2041248|   72|Latia Vanhoose_Ke...|
| 29|  Male|Alberta Freund|   DSA|2341989|   68|Jeannetta Golden_...|
| 28|Female|   Abram Nagao|    DB|2632057|   25|Margene Moores_So...|
| 29|  Male|   Abram Nagao|    DB|2841061|   25|Leontine Phillips...|
| 28|Female|Alberta Freund|   OOP|2881304|   62|Loris Crossett_Jc...|
+---+------+--------------+------+-------+-----+--------------------+
only showing top 20 rows

In [134]:
dfPercentage = df.withColumn( "total", lit(120) )
dfPercentage = dfPercentage.withColumn("Percentage", (dfPercentage.marks/dfPercentage.total)*100 )

In [136]:
dfPercentage.show()

+---+------+----------------+------+------+-----+--------------------+-----+------------------+
|age|gender|            name|course|  roll|marks|               email|total|        Percentage|
+---+------+----------------+------+------+-----+--------------------+-----+------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|  120|49.166666666666664|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|  120| 51.66666666666667|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|  120|              37.5|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|  120|24.166666666666668|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|  120|34.166666666666664|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|  120|26.666666666666668|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|  120| 57.49999999999999|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|  120| 70.83333333333334|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|  120|53.333333333333336|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|  120|              42.5|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|  120|29.166666666666668|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|  120|44.166666666666664|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|  120|              22.5|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|  120| 45.83333333333333|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|  120|              35.0|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|  120|              22.5|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|  120|              30.0|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|  120|18.333333333333332|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|  120|46.666666666666664|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|  120| 51.66666666666667|
+---+------+----------------+------+------+-----+--------------------+-----+------------------+
only showing top 20 rows