In [38]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import col, lit,round

ss = SparkSession.builder.appName("Spark Data Frame Example").getOrCreate()
df = ss.read.options(inferSchema='True', header='True').csv('StudentData.csv')

df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [39]:
df2 = df.select(["age","gender","course"])
df2.distinct().count()

24

In [40]:
df3 = df.dropDuplicates(["age","gender","course"])
df3.count()

24

In [41]:
df.sort("marks","age").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 28|Female|     Cheri Kenney| Cloud|2281771|   22|Tamera Blakley_Ab...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [42]:
df.orderBy("marks","age").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 28|Female|     Cheri Kenney| Cloud|2281771|   22|Tamera Blakley_Ab...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

Sort by asc/desc

In [43]:
df.orderBy(df.marks.asc(),df.age.desc()).show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|Female|   Maybell Duguay|   MVC|1102536|   22|Somer Stoecker_Ma...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

Group By

In [44]:
df.groupBy("gender").sum("marks").show()

+------+----------+
|gender|sum(marks)|
+------+----------+
|Female|     29636|
|  Male|     30461|
+------+----------+

In [45]:
df.groupBy("gender").count().show()

+------+-----+
|gender|count|
+------+-----+
|Female|  501|
|  Male|  499|
+------+-----+

In [46]:
df.groupBy("course").count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [47]:
df.groupBy("gender").max("marks").show()
df.groupBy("gender").min("marks").show()

+------+----------+
|gender|max(marks)|
+------+----------+
|Female|        99|
|  Male|        99|
+------+----------+

+------+----------+
|gender|min(marks)|
+------+----------+
|Female|        20|
|  Male|        20|
+------+----------+

In [48]:
df.groupBy("course").avg("marks").show()

+------+------------------+
|course|        avg(marks)|
+------+------------------+
|    PF| 59.83734939759036|
|    DB|59.044585987261144|
|   MVC| 61.05095541401274|
|   DSA| 62.21590909090909|
| Cloud|59.598958333333336|
|   OOP|  58.6578947368421|
+------+------------------+

In [49]:
df.groupBy("gender").avg("marks").show()

+------+------------------+
|gender|        avg(marks)|
+------+------------------+
|Female|59.153692614770456|
|  Male| 61.04408817635271|
+------+------------------+

In [50]:
df.groupBy("gender","course").mean("marks").show()

+------+------+------------------+
|gender|course|        avg(marks)|
+------+------+------------------+
|Female| Cloud| 59.58490566037736|
|Female|   OOP| 57.09756097560975|
|  Male|    PF| 61.44329896907217|
|  Male|    DB| 61.86585365853659|
|  Male| Cloud|59.616279069767444|
|  Male|   OOP| 60.48571428571429|
|Female|   DSA| 62.48979591836735|
|Female|    DB|             55.96|
|  Male|   DSA| 61.87179487179487|
|  Male|   MVC| 60.94186046511628|
|Female|   MVC|61.183098591549296|
|Female|    PF| 57.57971014492754|
+------+------+------------------+

In [51]:
from pyspark.sql.functions import count,avg,min,mean,max
df.groupBy("course",df.gender).agg(count("*"),min(df.marks),max("marks"),mean("marks"),avg("marks")).show()

+------+------+--------+----------+----------+------------------+------------------+
|course|gender|count(1)|min(marks)|max(marks)|        avg(marks)|        avg(marks)|
+------+------+--------+----------+----------+------------------+------------------+
|   OOP|  Male|      70|        20|        99| 60.48571428571429| 60.48571428571429|
|    DB|  Male|      82|        20|        98| 61.86585365853659| 61.86585365853659|
| Cloud|Female|     106|        20|        99| 59.58490566037736| 59.58490566037736|
|   MVC|  Male|      86|        22|        99| 60.94186046511628| 60.94186046511628|
|   DSA|Female|      98|        20|        99| 62.48979591836735| 62.48979591836735|
|    PF|  Male|      97|        20|        99| 61.44329896907217| 61.44329896907217|
|   MVC|Female|      71|        22|        99|61.183098591549296|61.183098591549296|
| Cloud|  Male|      86|        21|        97|59.616279069767444|59.616279069767444|
|    PF|Female|      69|        20|        99| 57.57971014492754| 57.57971014492754|
|   DSA|  Male|      78|        20|        99| 61.87179487179487| 61.87179487179487|
|    DB|Female|      75|        20|        96|             55.96|             55.96|
|   OOP|Female|      82|        21|        99| 57.09756097560975| 57.09756097560975|
+------+------+--------+----------+----------+------------------+------------------+

In [52]:
df.filter(df.gender == "Male").groupBy("course",df.gender).agg(count("*"),min(df.marks),max("marks"),mean("marks"),avg("marks")).show()

+------+------+--------+----------+----------+------------------+------------------+
|course|gender|count(1)|min(marks)|max(marks)|        avg(marks)|        avg(marks)|
+------+------+--------+----------+----------+------------------+------------------+
|   OOP|  Male|      70|        20|        99| 60.48571428571429| 60.48571428571429|
|    DB|  Male|      82|        20|        98| 61.86585365853659| 61.86585365853659|
|   MVC|  Male|      86|        22|        99| 60.94186046511628| 60.94186046511628|
|    PF|  Male|      97|        20|        99| 61.44329896907217| 61.44329896907217|
| Cloud|  Male|      86|        21|        97|59.616279069767444|59.616279069767444|
|   DSA|  Male|      78|        20|        99| 61.87179487179487| 61.87179487179487|
+------+------+--------+----------+----------+------------------+------------------+